name: Build

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 0
      - name: Setup Python 3.8
        uses: actions/setup-python@v4.3.0
        with:
          python-version: 3.8
      - name: Install
        run: |
          pip install poetry
          poetry install
      - name: Format
        run: |
          poetry run black linz_logger/** --check --diff
      - name: Lint
        run: |
          poetry run pylint linz_logger/**
      - name: Import Sorting
        run: |
          poetry run isort linz_logger/** --check --diff
      - name: Test
        run: |
          poetry run pytest
